<div>
  <h3 class="center">
<%= @list.name %>
</h3>
</div>

<div class="fixed-action-btn">
  <%= link to: task_path(@conn, :new), class: "btn-floating btn-large waves-effect waves-light green" do %>
    <i class="material-icons">add</i>
    <% end %>
  </a>
</div>
