<%= form_for @changeset, list_path(@conn, :create), fn f -> %>
  <div class="form-group">
    <%= text_input f, :name, placeholder: "List Name", class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <%= submit "Save List", class: "btn btn-primary" %>
<% end %>
